
span {
  font-size: 6px;
}

table {
  border-collapse: collapse; 
}

td {
  padding: 3px; 
}

hr {
  color: #d9d9d9;
  border: 1px dotted;
}

input[type=checkbox] {
  cursor: pointer;
}

.flexItem {
  padding: 3px; 
  margin-right: 20px;
  margin-top: 3px;
}
.flexItem2 {
  padding: 3px;
  margin-right: 10px;
  margin-top: 3px;
}
.flexButton {
  margin-left: 20px;
}

.itemTableHead {
  background-color: #ccddcc; 
  border: 1px solid; 
  padding: 3px; 
}

.itemTableBody {
  border: 1px solid; 
  padding: 3px; 
}

.itemTableBody:hover {
  background-color: #afeeee; 
}

/* 横一列に等間隔で並べて、縦線で区切る */
.links {
  padding: 4px 10px;
}

.links p {
  border-right: solid 1px #aaaaaa;
  padding: 4px 10px;
  display: inline;
}

.links p:last-child {
  border-right: none;
  padding: 4px 10px;
  display: inline;
}


#sortIcon0 { cursor: pointer; }
#sortIcon1 { cursor: pointer; }
#sortIcon2 { cursor: pointer; }
#sortIcon3 { cursor: pointer; }
#sortIcon4 { cursor: pointer; }
#sortIcon5 { cursor: pointer; }
#sortIcon6 { cursor: pointer; }

/* タイトルの横に並べた小さなトグルボタン(+/-) */
#titleTr {
  display: none;
}
#toggleTitleButton {
  border: none;
  background-color: #dddddd;
  color: #0000ee;
  font-size: small;
  cursor: pointer;
  margin-left: 10px;
}


/* modal型 yes/no ダイアログ  */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalDialog{
  text-align: center;
  width: 300px;
  height: 80px;
  margin: 15% auto;
  padding-top: 25px;
  padding-bottom: 15px;
  border: 1px solid #888;
  border-radius: 15px;
  background-color: #f0f0f0;
  box-shadow: rgba(0,0,0,0.6) 4px 4px 8px;
}

.modal button {
  margin: 10px;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #888;
  border-radius: 12px;
  background-color: #e9e9e9;
}
.modal button:hover {
  background-color: #eee8aa;
  cursor: pointer;
}

