<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
  <title th:object="${wordList}">[[${wordList.titleConfig}]]</title>
  <link rel="stylesheet" href="style1.css">
</head>

<body>
  <header>
    <div style="display: flex;">
      <div><h1 th:object="${wordList}">[[${wordList.titleConfig}]]</h1></div>
      <div th:replace="~{header :: UserInfo }"></div>
    </div>
  </header>

  <b class="tabMenu" id="tabSystem">システム</b><b class="tabMenu" id="tabPassword">パスワード</b><b sec:authorize="hasRole('ROLE_ADMIN')" class="tabMenu" id="tabAdmin">ユーザー管理</b>
  <div class="h2Line"></div><div class="blankLine"></div>

  <form th:object="${configSystem}">
  <div class="customTable1">
  <table th:object="${configSystem}" id="configSystem" class="dynamicArea">
  <tbody>
    <tr>
      <td><label for="lang">Language</label></td>
      <td>
        <select name="lang" id="lang" class="customInput1">
          <option value="jp" th:selected="${configSystem.lang == 'jp'}">Japanese</option>
          <option value="en" th:selected="${configSystem.lang == 'en'}">English</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td><label for="itemSortOrder">[[${wordList.configWord[0]}]]</label></td>
      <td>
        <select name="itemSortOrder" id="itemSortOrder" class="customInput1">
          <option value="0" th:selected="${configSystem.itemSortOrder == 0}">[[${wordList.tableWord[0]}]]</option>
          <option value="1" th:selected="${configSystem.itemSortOrder == 1}">[[${wordList.tableWord[1]}]]</option>
          <option value="2" th:selected="${configSystem.itemSortOrder == 2}">[[${wordList.tableWord[2]}]]</option>
          <option value="3" th:selected="${configSystem.itemSortOrder == 3}">[[${wordList.tableWord[3]}]]</option>
          <option value="4" th:selected="${configSystem.itemSortOrder == 4}">[[${wordList.tableWord[4]}]]</option>
          <option value="5" th:selected="${configSystem.itemSortOrder == 5}">[[${wordList.tableWord[5]}]]</option>
          <option value="6" th:selected="${configSystem.itemSortOrder == 6}">[[${wordList.tableWord[6]}]]</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td><label for="progressSortOrder">[[${wordList.configWord[1]}]]</label></td>
      <td>
        <select name="progressSortOrder" id="progressSortOrder" class="customInput1">
          <option value="0" th:selected="${configSystem.progressSortOrder == 0}">[[${wordList.sortWord[0]}]]</option>
          <option value="1" th:selected="${configSystem.progressSortOrder == 1}">[[${wordList.sortWord[1]}]]</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Update" onclick="configSystemButton()"></td>
      <td></td>
    </tr>
  </tbody>
  </table>
  </div>
  </form>

  <form th:object="${configPassword}">
  <div class="customTable1">
  <table id="configPassword" class="dynamicArea">
  <tbody>
    <tr>
      <td><label for="newPassword1">New Password</label></td>
      <td><input type="password" name="newPassword1" id="newPassword1" minlength="8" maxlength="30"
                 class="customInput1" th:field="*{newPassword1}"></td>
      <td></td>
    </tr>

    <tr>
      <td><label for="newPassword2">retype</label></td>
      <td><input type="password" name="newPassword2" id="newPassword2" minlength="8" maxlength="30"
                 class="customInput1" th:field="*{newPassword2}"></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Update" onclick="configPasswordButton()"></td>
      <td></td>
    </tr>

  </tbody>
  </table>
  </div>
  </form>

  <form th:object="${configAdmin}" sec:authorize="hasRole('ROLE_ADMIN')">
  <div class="customTable1">
  <table id="configAdmin"  class="dynamicArea">
  <tbody>
    <tr>
      <td><label for="username">Username</label></td>
      <td><input name="username" id="username" class="customInput1" th:value="${configAdmin.username}" ></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Find" onclick="configAdminButton('Find')"></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Create" onclick="configAdminButton('Create')"></td>
      <td></td>
    </tr>

    <tr>
      <td><label for="passwordReset">Password Reset</label></td>
      <td>
        <select name="passwordReset" id="passwordReset" class="customInput1">
          <option value="true" th:selected="${configAdmin.passwordReset == true}">yes</option>
          <option value="false" th:selected="${configAdmin.passwordReset == false}">no</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td><label for="enabled">Enabled</label></td>
      <td>
        <select name="enabled" id="enabled" class="customInput1">
          <option value="true" th:selected="${configAdmin.enabled == true}">on</option>
          <option value="false" th:selected="${configAdmin.enabled == false}">off</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Update" onclick="configAdminButton('Update')"></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Delete" onclick="deleteConfirm()"></td>
      <td></td>
    </tr>

  </tbody>
  </table>
  </div>
  </form>

  <hr>
  <!-- "file name :: fragment name" -->
  <div th:insert="~{footer :: links}"></div>
  <div th:insert="~{footer :: deleteDialog2}"></div>

  <script src="config.js"></script>
</body>
</html>

