<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title th:object="${wordList}">[[${wordList.titleConfig}]]</title>
  <link rel="stylesheet" href="style1.css">
</head>

<body>
  <h1 th:object="${wordList}">[[${wordList.titleConfig}]]</h1>
  <hr>

  <form action="config" method="post" name="configFormName" id="configForm"
   th:object="${configForm}">

  <table id="configTable">
  <tbody>
    <tr>
      <td><label for="lang">Language</label></td>
      <td>
        <select name="lang" id="lang">
          <option value="jp" th:selected="${configForm.lang == 'jp'}">Japanese</option>
          <option value="en" th:selected="${configForm.lang == 'en'}">English</option>
        </select>
      </td>
    <tr>

    <tr>
      <td><label for="value1">value1</label></td>
      <td><input name="value1" id="value1" maxlength="30"></td>
    <tr>

    <tr>
      <td><label for="value2">value2</label></td>
      <td><input name="value2" id="value2" maxlength="30"></td>
    <tr>

    <tr>
      <td></td>
      <td><input type="submit" value="Update" id="write_config"></td>
    <tr>
  </tbody>
  </table>

  </form>

  <hr>
  <!-- "file name :: fragment name" -->
  <div th:insert="~{footer :: links}"></div>

  <!--script src="sample.js"></script-->
</body>
</html>

