<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
  <title th:object="${wordList}">[[${wordList.titleConfig}]]</title>
  <link rel="stylesheet" href="/style1.css">
</head>

<body>
  <header>
    <div style="display: flex;">
      <div><h1 th:object="${wordList}">[[${wordList.titleConfig}]]</h1></div>
      <div th:replace="~{header :: UserInfo }"></div>
    </div>
  </header>

  <b class="tabMenu" id="tabSystem">システム</b><b class="tabMenu" id="tabPassword">パスワード</b><b sec:authorize="hasRole('ROLE_ADMIN')" class="tabMenu" id="tabAdmin">ユーザー管理</b>
  <div class="h2Line"></div><div class="blankLine"></div>

  <div class="customTable1">
  <table th:object="${configForm}" id="configSystem" class="dynamicArea">
  <tbody>
    <tr>
      <td><label for="lang">Language</label></td>
      <td>
        <select name="lang" id="lang" class="customInput1">
          <option value="jp" th:selected="${configForm.lang == 'jp'}">Japanese</option>
          <option value="en" th:selected="${configForm.lang == 'en'}">English</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="itemSortOrder">[[${wordList.configWord[0]}]]</label></td>
      <td>
        <select name="itemSortOrder" id="itemSortOrder" class="customInput1">
          <option value="0" th:selected="${configForm.itemSortOrder == 0}">[[${wordList.tableWord[0]}]]</option>
          <option value="1" th:selected="${configForm.itemSortOrder == 1}">[[${wordList.tableWord[1]}]]</option>
          <option value="2" th:selected="${configForm.itemSortOrder == 2}">[[${wordList.tableWord[2]}]]</option>
          <option value="3" th:selected="${configForm.itemSortOrder == 3}">[[${wordList.tableWord[3]}]]</option>
          <option value="4" th:selected="${configForm.itemSortOrder == 4}">[[${wordList.tableWord[4]}]]</option>
          <option value="5" th:selected="${configForm.itemSortOrder == 5}">[[${wordList.tableWord[5]}]]</option>
          <option value="6" th:selected="${configForm.itemSortOrder == 6}">[[${wordList.tableWord[6]}]]</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="value2">value2</label></td>
      <td><input name="value2" id="value2" maxlength="30" class="customInput1"></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Update" id="writeConfig"></td>
    </tr>
  </tbody>
  </table>
  </div>

  <form action="writeConfigPassword" method="post" th:object="${configPassword}">
  <div class="customTable1">
  <table id="configPassword" class="dynamicArea">
  <tbody>
    <tr>
      <td><label for="newPassword1">New Password</label></td>
      <td><input type="password" name="newPassword1" id="newPassword1" minlength="8" maxlength="30"
                 class="customInput1" th:field="*{newPassword1}"></td>
      <td><div th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}" style="color: red"></div></td>
    </tr>

    <tr>
      <td><label for="newPassword2">retype</label></td>
      <td><input type="password" name="newPassword2" id="newPassword2" minlength="8" maxlength="30"
                 class="customInput1" th:field="*{newPassword2}"></td>
      <td><div th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}" style="color: red"></div></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="submit" value="Update"></td>
    </tr>

    <input name="_csrf" type="hidden" id="csrfToken" th:value="${_csrf.token}">
  </tbody>
  </table>
  </div>
  </form>

  <form action="/admin/updateUser" method="post" id="formConfigAdmin" th:object="${configAdmin}" sec:authorize="hasRole('ROLE_ADMIN')">
  <div class="customTable1">
  <table id="configAdmin"  class="dynamicArea">
  <tbody>
    <tr>
      <td><label for="username">Username</label></td>
      <td><input name="username" id="username" class="customInput1" th:value="${configAdmin.username}" ></td>
      <td>
        <div id="resultError"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div>
        <div id="resultFind"   th:if="${configResult} == 'Find'" style="color: green">found</div>
        <div id="resultDelete" th:if="${configResult} == 'Delete'" style="color: orange">deleted</div>
        <div id="resultCreate" th:if="${configResult} == 'Create'" style="color: green">created</div>
      </td>
    </tr>

    <tr>
      <td><label for="passwordReset">Password Reset</label></td>
      <td>
        <select name="passwordReset" id="passwordReset" class="customInput1">
          <option value="1" th:selected="${configAdmin.passwordReset == true}">yes</option>
          <option value="0" th:selected="${configAdmin.passwordReset == false}">no</option>
        </select>
      </td>
      <td>
        <div th:if="${#fields.hasErrors('passwordReset')}" th:errors="*{passwordReset}" style="color: red"></div>
        <div id="resultPassword" th:if="${configResult} == 'Password'" style="color: green">update</div>
      </td>
    </tr>

    <tr>
      <td><label for="enabled">Enabled</label></td>
      <td>
        <select name="enabled" id="enabled" class="customInput1">
          <option value="1" th:selected="${configAdmin.enabled == true}">on</option>
          <option value="0" th:selected="${configAdmin.enabled == false}">off</option>
        </select>
      </td>
      <td>
        <div th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" style="color: red"></div>
        <div id="resultEnabled" th:if="${configResult2} == 'Enabled'" style="color: green">update</div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="submit" name="action" value="Find"></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="submit" name="action" value="Update"></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Delete" onclick="deleteConfirm()"></td>
      <td><input id="deleteButton" type="submit" name="action" value="Delete" style="display: none;"></td>
    </tr>

    <input name="_csrf" type="hidden" id="csrfToken" th:value="${_csrf.token}">
  </tbody>
  </table>
  </div>
  </form>

  <input type="hidden" id="selectedTab" th:value="${selectedTab}">

  <hr>
  <!-- "file name :: fragment name" -->
  <div th:insert="~{footer :: links}"></div>
  <div th:insert="~{footer :: deleteDialog2}"></div>

  <script src="/config.js"></script>
</body>
</html>

