<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
  <title th:object="${wordList}">[[${wordList.titleNewItem}]]</title>
  <link rel="stylesheet" href="style1.css">
</head>

<body>
  <header>
    <div style="display: flex;">
      <div><h1 th:object="${wordList}">[[${wordList.titleNewItem}]]</h1></div>
      <div th:replace="~{header :: UserInfo }"></div>
    </div>
  </header>

  <h3>登録情報</h3><div class="h3Line"></div><div class="blankLine"></div>

  <form name="registDataName" id="registData">
  <div class="customTable1" th:object="${registData}">
  <table id="registTable">
  <tbody>
    <div th:replace="~{main :: registDataFragment}"></div>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Regist" onclick="registItem()"></td>
    </tr>

  </tbody>
  </table>
  </div>
  </form>

  <hr>
  <div th:insert="~{footer :: links}"></div>

  <script src="common.js"></script>
  <script src="new_item.js"></script>
</body>
</html>

