<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
  <title>[[${titleShow}]]</title>
  <link rel="stylesheet" href="/style1.css">
</head>

<body>
  <header>
    <div style="display: flex;">
      <div><h1 th:object="${wordList}">[[${titleShow}]]</h1></div>
      <div th:replace="~{header :: UserInfo }"></div>
    </div>
  </header>

  <h3>登録情報
    <input type="checkbox" onclick="toggleDynamicArea(event, 'titleTr', 'table-row')" id="custom1" class="customCheckBox1">
    <label for="custom1" class="customCheckBoxL1"></label>
  </h3><div class="h3Line"></div><div class="blankLine"></div>     

  <form name="registDataName" id="registData">
  <div class="customTable1" th:object="${registData}">
  <table id="editTable">
  <tbody>
    <div th:replace="~{main :: registDataFragment}"></div>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Edit" onclick="writeItem()"></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><input class="customButton1" type="button" value="Delete" onclick="deleteConfirm()"></td>
      <td></td>
    </tr>

  </tbody>
  </table>
  </div>
  </form>

  <h3>進捗記入
    <input type="checkbox" onclick="toggleDynamicArea(event, 'progressWriteArea', 'flex')" id="custom2" class="customCheckBox1">
    <label for="custom2" class="customCheckBoxL1"></label>
  </h3>
  <div class="h3Line"></div><div class="blankLine"></div>

  <div style="display: none;" id="progressWriteArea" class="dynamicArea">
    <div class="flexItem" >
      <textarea name="progress" id="progress" maxlength="800" rows="10" cols="80"></textarea>
    </div>
    <div class="flexItem" >
      <input class="customButton1" id="writeProgress" type="button" value="Write" onclick="writeProgress()">
    </div>
  </div>

  <br>
  <div class="progressMain" th:each="list : ${progressList}">
    <div class="customHeadline1" style="display: inline-block;">
    <div style="display: flex;">
      <div class="flexItem2">
        #[[${list.progressId}]]
      </div>
      <div class="flexItem2" >
        [[${list.date}]]
      </div>
      <div class="flexItem2" >
        <input type="checkbox" onclick="toggleProgressEditor(event)" th:id="'pid' + ${list.progressId}" class="customCheckBox1">
        <label th:for="'pid' + ${list.progressId}" class="customCheckBoxL1"></label>
      </div>
      <div style="display: none;" id="KeyId">
        [[${list.id}]]
      </div>
    </div>
    </div>
    <p th:utext="${list.contents}" class="customContents1"></p><br>

  </div>

  <hr>
  <div th:insert="~{footer :: links}"></div>
  <div th:insert="~{footer :: deleteDialog}"></div>

  <script src="/common.js"></script>
  <script src="/show.js"></script>
</body>
</html>

