<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
  <title th:object="${wordList}">[[${wordList.titleSummary}]]</title>
  <link rel="stylesheet" href="style1.css">
</head>

<body>
  <header>
    <div style="display: flex;">
      <div><h1 th:object="${wordList}">[[${wordList.titleSummary}]]</h1></div>
      <div th:replace="~{header :: UserInfo }"></div>
    </div>
  </header>

  <h3>Query</h3><div class="h3Line"></div>

  <div th:object="${wordList}">
    <form>
    <div style="display: flex;" th:object="${configData}">
      <div class="flexItem" >
        <table>
        <tbody>
        <tr>
          <td><label for="status">[[${wordList.tableWord[3]}]]</label></td>
          <td><select name="status" id="status" onchange="setStatus(event)" class="customInput1">
            <option value="0" th:selected="${configData.status == 0}">[[${wordList.statusWord[0]}]]</option>
            <option value="1" th:selected="${configData.status == 1}">[[${wordList.statusWord[1]}]]</option>
            <option value="2" th:selected="${configData.status == 2}">[[${wordList.statusWord[2]}]]</option>
            <option value="3" th:selected="${configData.status == 3}">[[${wordList.statusWord[3]}]]</option>
            <option value="4" th:selected="${configData.status == 4}">[[${wordList.statusWord[4]}]]</option>
          </select></td>
        </tr>

        <tr>
          <td><label for="category">[[${wordList.tableWord[4]}]]</label></td>
          <td><select name="category" id="category" class="customInput1">
            <option value="0" th:selected="${configData.category == 0}">[[${wordList.categoryWord[0]}]]</option>
            <option value="1" th:selected="${configData.category == 1}">[[${wordList.categoryWord[1]}]]</option>
            <option value="2" th:selected="${configData.category == 2}">[[${wordList.categoryWord[2]}]]</option>
            <option value="3" th:selected="${configData.category == 3}">[[${wordList.categoryWord[3]}]]</option>
            <option value="4" th:selected="${configData.category == 4}">[[${wordList.categoryWord[4]}]]</option>
            <option value="5" th:selected="${configData.category == 5}">[[${wordList.categoryWord[5]}]]</option>
            <option value="6" th:selected="${configData.category == 6}">[[${wordList.categoryWord[6]}]]</option>
          </select></td>
        </tr>
        </tbody>
        </table>
      </div>

      <div class="flexItem" >
        <table>
        <tbody>
        <tr>
          <td><label for="worker">[[${wordList.tableWord[5]}]]</label></td>
          <td><input name="worker" id="worker" maxlength="30" th:value="${configData.worker}" class="customInput1"></td>
        </tr>

        <tr>
          <td><label for="deadline">[[${wordList.tableWord[6]}]]</label></td>
          <td><input type="date" name="startDate" id="startDate" maxlength="10" th:value="${configData.startDate}" class="customInput1" style="margin-right: 6px;">～</td>
          <td><input type="date" name="stopDate" id="stopDate" maxlength="10" th:value="${configData.stopDate}" class="customInput1"></td>
        </tr>
        </tbody>
        </table>
      </div>

      <div class="flexItem" >
        <table>
        <tbody>
        <tr>
          <td><input class="customButton1" type="submit" value="Query"></td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
    </form>

    <h3>Filter</h3><div class="h3Line"></div><div class="blankLine"></div>

    <div th:object="${configData}">
      <div th:if="${configData.status} == 0">
        <input type="checkbox" id="st1" class="customCheckBox2" checked onclick="itemFilter(event, 3, 1)"><label for="st1" class="customCheckBoxL2">[[${wordList.statusWord[1]}]]</label>
        <input type="checkbox" id="st2" class="customCheckBox2" checked onclick="itemFilter(event, 3, 2)"><label for="st2" class="customCheckBoxL2">[[${wordList.statusWord[2]}]]</label>
        <input type="checkbox" id="st3" class="customCheckBox2" checked onclick="itemFilter(event, 3, 3)"><label for="st3" class="customCheckBoxL2">[[${wordList.statusWord[3]}]]</label>
        <input type="checkbox" id="st4" class="customCheckBox2" checked onclick="itemFilter(event, 3, 4)"><label for="st4" class="customCheckBoxL2">[[${wordList.statusWord[4]}]]</label>
      </div>

      <div style="margin-bottom: 5px;"> </div>

      <div th:if="${configData.category} == 0">
        <input type="checkbox" id="cate1" class="customCheckBox2" checked onclick="itemFilter(event, 4, 1)"> <label for="cate1" class="customCheckBoxL2">[[${wordList.categoryWord[1]}]]</label>
        <input type="checkbox" id="cate2" class="customCheckBox2" checked onclick="itemFilter(event, 4, 2)"> <label for="cate2" class="customCheckBoxL2">[[${wordList.categoryWord[2]}]]</label>
        <input type="checkbox" id="cate3" class="customCheckBox2" checked onclick="itemFilter(event, 4, 3)"> <label for="cate3" class="customCheckBoxL2">[[${wordList.categoryWord[3]}]]</label>
        <input type="checkbox" id="cate4" class="customCheckBox2" checked onclick="itemFilter(event, 4, 4)"> <label for="cate4" class="customCheckBoxL2">[[${wordList.categoryWord[4]}]]</label>
        <input type="checkbox" id="cate5" class="customCheckBox2" checked onclick="itemFilter(event, 4, 5)"> <label for="cate5" class="customCheckBoxL2">[[${wordList.categoryWord[5]}]]</label>
        <input type="checkbox" id="cate6" class="customCheckBox2" checked onclick="itemFilter(event, 4, 6)"> <label for="cate6" class="customCheckBoxL2">[[${wordList.categoryWord[6]}]]</label>
      </div>
    </div>
  </div>

  <h3>Table</h3><div class="h3Line"></div><div class="blankLine"></div>
  <span id="configItemSortOrder" style="display: none;" th:object="${configData}">[[${configData.itemSortOrder}]]</span>
  <table id="itemTable" th:object="${wordList}">
    <thead>
      <tr class="itemTableHead">
      <th class="itemTableHead" onclick="sortTable(0)">[[${wordList.tableWord[0]}]]<span id="sortIcon0">&#x25b2;</span></th>
      <th class="itemTableHead" onclick="sortTable(1)">[[${wordList.tableWord[1]}]]<span id="sortIcon1">&#x25b2;</span></th>
      <th class="itemTableHead" onclick="sortTable(2)">[[${wordList.tableWord[2]}]]<span id="sortIcon2">&#x25b2;</span></th>
      <th class="itemTableHead" onclick="sortTable(3)">[[${wordList.tableWord[3]}]]<span id="sortIcon3">&#x25b2;</span></th>
      <th class="itemTableHead" onclick="sortTable(4)">[[${wordList.tableWord[4]}]]<span id="sortIcon4">&#x25b2;</span></th>
      <th class="itemTableHead" onclick="sortTable(5)">[[${wordList.tableWord[5]}]]<span id="sortIcon5">&#x25b2;</span></th>
      <th class="itemTableHead" onclick="sortTable(6)">[[${wordList.tableWord[6]}]]<span id="sortIcon6">&#x25b2;</span></th>
      </tr>
    </thead>

    <tbody id="itemTbody">
      <tr class="itemTableBody" th:each="list : ${lists}" id="itemTr" style="display: 'table-row';">
      <td class="itemTableBody">[[${list.id}]]</td>
      <td class="itemTableBody"><a th:href="@{/show/{Id}(Id=${list.id})}">[[${list.title}]]</a></td>
      <td class="itemTableBody">[[${list.priority}]]</td>
      <td class="itemTableBody" th:with="index=${list.status}">[[${wordList.statusWord[index]}]]
                                <input type="text" th:value="${list.status}" style="display: none;"></td>
      <td class="itemTableBody" th:with="index=${list.category}">[[${wordList.categoryWord[index]}]]
                                <input type="text" th:value="${list.category}" style="display: none;"></td>
      <td class="itemTableBody">[[${list.worker}]]</td>
      <td class="itemTableBody">[[${list.deadline}]]</td>
      </tr>
    </tbody>
  </table>

  <br><hr>
  <div th:insert="~{footer :: links}"></div>

  <script src="summary.js"></script>
</body>
</html>

